@mixin breakpoints($point) {
    @if $point == mobile {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $point == small {
      @media (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    } @else if $point == medium {
      @media (min-width: 992px) and (max-width: 1199px) {
        @content;
      }
    } @else if $point == large {
      @media (min-width: 1200px) {
        @content;
      }
    }
  }


.youtube{
    .head-title{
        h2{
            span{
                color:#FF2625 ;
            }
        }
    }
    .video{
        overflow: hidden;
        .poster{
            border-radius:6px 0 6px 0;
            img{
                border-radius:6px 0 6px 0;
            }
        }
        a{
            color: #FF2625 !important;
            text-decoration:none !important;
            h5{
                @include breakpoints(mobile) {
                    font-size:12px !important;
                    
                    }
            }
           
        }
    }
}